.hangman-keyboard{
  text-align: center;
}
.hangman-keyboard button {
  text-transform: uppercase;
  margin: 2px;
  background-color: #abc;
  border: none;
  padding: 3px 2px;
  border-radius: 4px;
  color: #345;
  width: 25px;
  display: inline-block;
  font-weight: bold;
}
.hangman-keyboard button[disabled]{
  opacity:0.5;
}